body {
  display: grid;
  justify-items: center;
}

.game-controls {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.game-board {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-board>div>div{
  border: 1px solid green;
  width: 75px;
  height: 75px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  cursor: not-allowed;
}

.playable-square {
  cursor: not-allowed;
}

.playable-square:hover {
  cursor: pointer;
  background: yellow;
}

.player-modal, .alert-modal {
  padding: 20px;
  background: white;
  z-index: 5;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -80%);
  pointer-events: none;
  opacity: 0%;
  transition: top 0.3s, opacity 0.3s;
}

.player-modal.show, .alert-modal.show {
  opacity: 100%;
  pointer-events: all;
  top: 50%;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
}

.backdrop.show {
  opacity: 50%;
}