body {
  display: grid;
  justify-items: center;
  font-family: 'arial', sans-serif;
}


header {
  display: grid;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  text-align: center;
}

.game-controls {
  padding-top: 10px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.col1 {
  border-right: 2px solid #e6b800;
}

.col2 {
  border-right: 2px solid #e6b800;
  border-left: 2px solid #e6b800;
}

.col3 {
  border-left: 2px solid #e6b800;
}

.game-board>div>div:first-child {
  border-bottom: 2px solid #e6b800;
}

.game-board>div>div:nth-child(2){
  border-bottom: 2px solid #e6b800;
  border-top: 2px solid #e6b800;
}

.game-board>div>div:nth-child(3) {
  border-top: 2px solid #e6b800;
  
}

.game-board>div>div{
  width: 75px;
  height: 75px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  cursor: not-allowed;
}

.playable-square {
  cursor: not-allowed;
}

.playable-square:hover {
  cursor: pointer;
}

.player-modal, .alert-modal {
  padding: 20px;
  background: white;
  z-index: 5;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -80%);
  pointer-events: none;
  opacity: 0%;
  transition: top 0.3s, opacity 0.3s;
}

.player-modal.show, .alert-modal.show {
  opacity: 100%;
  pointer-events: all;
  top: 30%;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
}

.backdrop.show {
  opacity: 50%;
}